.Container{
position: absolute;
top:0;
height: 100vh;
overflow: hidden;
justify-content: center;
align-items: center;
}
.mainimage{
height: 350px;
width: 400px;
float: left;
position: relative;
top: -50%;
bottom: 0;
z-index: 99999999999999999;
left: 50%;
transform: translate(-50%, -50%);
background-position: center;
background-repeat: no-repeat;
background-size: contain;
background-image: url('../img/main.png');
}
.Container .Row{
height: 100%;
}
.Container .Col{
height: 100%;
}
.Container h1{
position: absolute;
left: 50%;
top: 40%;
transform: translate(-50%,-50%);
color: #FFFF;
font-family: 'Rakkas', cursive;
font-size: 9rem;
width: 100%;
font-weight: 100;
text-align: center;
}
.Container h1 span{
color: #f08618;
}
.overlay{
position: absolute;
top: 0;
left: 0;
height: 100%;
width: 100%;
background: black;
opacity: .7;
}
/*start media*/
@media(min-width:320px) and (max-width:992px){
.Container .mainimage{
height: 320px;
width: 320px;
}
}