.parent{
    width: 100%;
    display: flex;
    align-items: center;
    justify-items: center;
    margin: 0 auto;
    align-items: center;
    justify-items: center;
    height: 550px;
    margin-bottom: 2%;
    overflow: hidden;
    z-index: 9999999999999;
}

.MenueContainer{
    background: #2b2a2a;
    width: 100%;
    color: aliceblue;
}
.Parent{
    display: flex;
    justify-content: center;
    align-items: center;
}
.Parent .Child{
    height:400px;
    width: 400px;
    background: red;
    float: left;
}

.Order{
}
/*start media style*/
@media(min-width:320px) and (max-width:499px){
    .parent{
        margin-top: 10%;
        height: 240px;
    }
    .parent .wrapper{
        width: 100%;
    }
    .wrapper .H2{
        font-size: 2.2rem;
        width:90%
    }
}

@media (min-width:500px) and (max-width:650px){
    .parent{
    height: 350px;
    margin-top: 10%
    }
    .parent .wrapper{
        width:100%;
    }
    .wrapper .H2{
        font-size: 3rem;
        width:90%
    }
}

@media (min-width:650px) and (max-width:750px){
    .parent{
        width: 90%;
        height: 400px;
    }
    .parent .wrapper{
        width: 100%;

    }

}